$color-primary: #947ae1;
$color-secondary: #3259ca;
$color-energized: #4ecea6;
$color-light: #ffffff;
$color-dark: #646464;
$color-primary-muted: #f6f6fA;

$bg-gradient: linear-gradient(to right, $color-secondary 0%, $color-primary 100%);

$font-size-small: 0.9em;
$font-size-large: 2.5em;

$process-no-size: 60px;

$base-box-shadow: 4px 9px 13px -3px rgba(0,0,0,0.08);

$base-transition: .3s all ease-in-out;
